div {
    
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #745077;

}

.card{
    width: 268px;
    margin: 45px    ;
    background-color: #FFFFFF;
}

.img-card{
    width: 268px;
    height: 260px;
    color: #FFFFFF  ;
    margin: top 45px;   
}

.descricao{
    font-size: 15px;
    font-family: helvetica;
    font-weight: bold;
    padding: 10px 5px;
}

.preco{
    font-size: 25px;
    font-family: helvetica;
    color: #585252;
    font-weight: bold;
    padding: 10px 5px;
}

.pagamento{
    color: #585252;
    background-color: #FFFFFF;
    font-family: Arial;
    font-size: 15px;
    margin-bottom: 12px;
}

.botao-card{
    background-color: #9887ac;
    border: #FAEBD7;
    font-weight: bold;
    color: #ffffff;
    width: 100%;
    height: 45px;
    font-size: 16px;
    text-align: center;
    font-family: helvetica;
}

.menu{
    background-color: #ffffff;
    color: #FFFFFF;
    border: 1px solid;
    display:flex;
}

.item-menu{
    text-align: center;
    list-style: none;
    padding: 10px 20px;
    width: 500px;
    font-family: arial;
}


.item-menu:hover{
    background-color: #999999;
}

.link-menu{
    text-decoration: none;
    color: #0c0a0a;
    
}

