
div{
    
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #745077;

}

.card{
    width: 268px;
    margin: 45px    ;
    background-color: #FFFFFF;
    border-radius: 10px;
    top: 50px;
    margin-top: 40px;
}

.img-card{
    width: 268px;
    height: 260px;
    color: #FFFFFF  ;
    margin: top 45px;   
}

.descricao{
    font-size: 15px;
    font-family: helvetica;
    font-weight: bold;
    padding: 10px 5px;
}

.preco{
    font-size: 25px;
    font-family: helvetica;
    color: #585252;
    font-weight: bold;
    padding: 10px 5px;
}

.pagamento{
    color: #585252;
    background-color: #FFFFFF;
    font-family: Arial;
    font-size: 15px;
    margin-bottom: 12px;
}

.botao-card{
    background-color: #9887ac;
    border: #FAEBD7;
    font-weight: bold;
    color: #ffffff;
    width: 100%;        
    height: 45px;
    font-size: 16px;
    text-align: center;
    font-family: helvetica;
    border-radius: 4px;
   
}

.menu{
    background-color: #ffffff;
    color: #FFFFFF;
    border: 1px solid;
    display:flex;
    text-align: center;
    margin-top: 100px;
    width: 100%;  /* Faz o menu ocupar toda a largura */
}

.menu {
    background-color: white;  
    padding: 15px 0;  
    text-align: center;
    margin-top: auto; 
}

.menu a {
    text-decoration: none;  
    font-size: 18px;  
    font-weight: bold;  
    color: purple;  
    margin: 0 20px;  
    transition: 0.3s;  
    font-family: Arial, Helvetica, sans-serif;
}

.menu a:hover {
    color: darkviolet;  
    text-decoration: underline; 
}


.item-menu{
    text-align: center;
    list-style: none;
    padding: 10px 20px;
    width: 500px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.item-menu:hover{
    background-color: #999999;
}

.link-menu{
    text-decoration: none;
    background-color: #585252;
    font-weight: bold;
    font-size: 18px;
    color: blueviolet;
}

.botao-card:hover{
    background-color: #3d2752;
}



