
div{
    
}

a:hover{
    text-decoration: none;
    
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #e4e4e4;

}

.card{
    width: 268px;
    margin: 55px;
    background-color: #FFFFFF;
    border-radius: 10px;
    top: 45px;
    margin-top: 40px;
}

.img-card{
    width: 268px;
    height: 260px;
    color: #FFFFFF  ;
    margin: top 45px;   
}

.descricao{
    font-size: 15px;
    font-family: helvetica;
    font-weight: bold;
    padding: 10px 5px;
    color: #585252;
    height: 50px;
}

.preco{
    font-size: 25px;
    font-family: helvetica;
    color: #585252;
    font-weight: bold;
    padding: 10px 5px;
}

.pagamento{
    color: #585252;
    background-color: #FFFFFF;
    font-family: Arial;
    font-size: 15px;
    margin-bottom: 12px;
}

.botao-card{
    background-color: #000000;
    border: #FAEBD7;
    font-weight: bold;
    color: #ffffff;
    width: 100%;        
    height: 45px;
    font-size: 16px;
    text-align: center;
    font-family: helvetica;
    border-radius: 4px; 
   
}



.menu {
    background-color: #ffffff;
    color: #FFFFFF;
    border: 10px solid;
    display: flex;
    text-align: center;
    width: 100%;
    text-decoration: none;
    padding: 5px 0;  
    text-align: center;
    margin-top: auto; 
    text-decoration: none;
    
}

.menu a {
    text-decoration: none;  
    font-size: 18px;  
    font-weight: bold;  
    color: rgb(56, 56, 56);  
    margin: 0 20px;  
    transition: 0.3s;  
    font-family: Arial, Helvetica, sans-serif;
}

.menu a:hover {
    color: #bdbcbc;  
    text-decoration: none; 
}


.item-menu{
    text-decoration: none;
    text-align: center;
    list-style: none;
    padding: 10px 20px;
    width: 500px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.item-menu:hover{
    background-color: #ffffff;
    text-decoration: none;
}

.link-menu{
    margin: 0;
    padding: 0;
    display: inline-block;
    text-decoration: none;
    background-color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    color: #000000;
}
.link-menu:hover{
    text-decoration: none;
}

.botao-card:hover{
    background-color: #4e4d4d;
}

.container-card{
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
}

.barra-topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #000000;
    position: relative;
  }
  
  .logotipo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    margin: 0;
    padding: 0;
    height: 50px;
    background-color: #000000;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    top: 12px;
  }
  
  .search-box {
    width: 200px;
    height: 30px;
    border: 2px solid #000000;
    border-radius: 8px;
    padding: 10px;
  }

