body, html{
    margin: 0;
    padding: 0;
    background-color: #0c0c0c;
    height: 100%;
}

.container{
    width: 80%;
    background-color: #ffffff;
    margin: 0 auto;
    height: 100%;
    display: grid;
    grid-template-columns: 90% 20%;
    grid-template-rows: 250px auto 100px;
    grid-template-areas:"header header"
                        "main sidebar"
                        "footer footer";
}

header{
    background-color: blue;
    grid-area: header;
}

main{
    background-color:cadetblue ;
    grid-area:main;
}
aside{
    background-color: crimson;
    grid-area:sidebar;
}
footer{
    background-color: darkgreen;
    grid-area:footer
}